<h3 class="text-secondary">Add/Edit Person</h3>
<EditForm Model="@Person" OnSubmit="@SubmitFormAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" Options="@(options => options.IncludeAllRuleSets())" />
    <div >
        <label for="lastName" >Last Name</label>
        <InputText id="lastName" @bind-Value="Person.Name.LastName" />
        <ValidationMessage For="@(() => Person.Name.LastName)" />

    </div>

    <div >
        <label for="firstName" >First Name</label>
        <InputText id="firstName" @bind-Value="Person.Name.FirstName" />
        <ValidationMessage For="@(() => Person.Name.FirstName)" />
    </div>

    <div >
        <label for="middleName" >Middle Name</label>
        <InputText id="middleName" @bind-Value="Person.Name.MiddleName" />
        <ValidationMessage For="@(() => Person.Name.MiddleName)" />
    </div>

    <div >
        <label for="gender" >Gender</label>
        <InputSelect id="gender" @bind-Value="Person.Gender">
            @foreach (var gender in Enum.GetValues<Gender>())
            {
                <option value="@gender">@gender</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Person.Gender)" />
    </div>

    <div >
        <label for="birthday" >Birthday</label>
        <InputDate id="birthday" @bind-Value="Person.Birthday" onblur="@PartialValidate" />
        <ValidationMessage For=@( () => Person.Birthday ) />

    </div>

    <div >
        <label for="favoriteColor" >Favorite Color</label>
        <InputText id="favoriteColor" @bind-Value="Person.FavoriteColor" onblur="@PartialValidate" />
        <ValidationMessage For="@( () => Person.FavoriteColor )" />

    </div>

    <div >
        <label for="email" >Email</label>
        <InputText id="email" @bind-Value="Person.Email.Address" onblur="@PartialValidate" />
        <ValidationMessage For="@(() => Person.Email.Address)" />
    </div>

    <div >
        <button type="submit" >Submit</button>
        <ValidationSummary />
    </div>

</EditForm>
