<div class="mb-3">
    <label for="lastName" class="form-label small-gray-label">Last Name</label>
    <InputText id="lastName" class="form-control" @bind-Value="@Name.LastName" />
    <ValidationMessage For="@(() => Name.LastName)" />
</div>

<div class="mb-3">
    <label for="firstName" class="form-label small-gray-label">First Name</label>
    <InputText id="firstName" class="form-control" @bind-Value="@Name.FirstName" />
    <ValidationMessage For="@(() => Name.FirstName)" />
</div>

<div class="mb-3">
    <label for="middleName" class="form-label small-gray-label">Middle Name</label>
    <InputText id="middleName" class="form-control" @bind-Value="@Name.MiddleName" />
    <ValidationMessage For="@(() => Name.MiddleName)" />
</div>