<div class="container">

    <div class="form-group row">
        <label class="k-label">Number</label>
        <input type="tel" class="form-control" @bind="@Phone.Number" @onblur="@ValidateForm" />
        <ValidationMessage For="@(() => Phone.Number)" />
    </div>

    <div class="form-group row">
        <label for="phoneType" class="form-label small-gray-label">Type</label>
        <InputSelect id="phoneType" class="form-control" @bind-Value="@Phone.PhoneType" @onblur="@ValidateForm">
            <option value="9">"invalid"</option>
            @foreach (var phoneType in Enum.GetValues<Experimentum.Domain.Features.PhoneType>())
            {
                <option value="@phoneType">@phoneType</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Phone.PhoneType)" />
    </div>

    <div form-group row>
        <button class="btn btn-primary dialog-button" @onclick="Ok" title="Save Phone">
            <i class="bi bi-check"></i> Ok
        </button>
        <button class="btn btn-primary dialog-button" @onclick="Cancel" title="Cancel">
            <i class="bi bi-check"></i> Cancel
        </button>
    </div>
</div>